{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 80,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "endOfLine": "auto"
}
  